@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg-object-color: #f0f0f0;
    --bg-color: #e7e7e7;
    --bg-button-color: #ddd;
    --bg-hover: #ccc;
    --text-color: #222222;
    --primary-color: #ccc;
    --secondary-color: #333;
    --terciary-color: #777;  
    --shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body {
    font-family: 'Montserrat', sans-serif;
}

.sidebar-history {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    background-color: var(--bg-object-color);
    align-items: center;
    text-align: center;
    height: 100vh;
    overflow-y: scroll;
}

.sidebar-history h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.sidebar-history button {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color);
    transition: all 0.5s ease-out;
    background-color: var(--bg-button-color);
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.sidebar-history button:hover {
    background-color: var(--bg-hover);
}

.sidebar-history button:active {
    background-color: var(--primary-color);
}

.sidebar-history button:focus {
    outline: none;
}

#history::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

#history::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 5px;
}

#history::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondary-color);
}

#history::-webkit-scrollbar-thumb:active {
    background-color: var(--primary-color);
}

#history::-webkit-scrollbar-track {
    background-color: transparent;
}

#history::-webkit-scrollbar-track:hover {
    background-color: var(--bg-color);
}

#history::-webkit-scrollbar-track:active {
    background-color: var(--bg-color);
}

#history::-webkit-scrollbar-corner {
    background-color: var(--bg-color);
}   

#history {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--primary-color);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    overflow-y: scroll;
    height: 70%;
}

#searched-city {
    font-size: 17px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

#searched-country {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.dashboard {
        margin-left: 200px;
        padding: 50px;
}

.dashboard-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    gap: 20px;
    flex-wrap: wrap;
}

#weatherForm {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#weatherForm input{
    flex: 8;
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 250px;
    background-color: var(--bg-object-color);
    color: #000;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    box-shadow: var(--shadow);
    font-size: 14px;
    transition: all 0.5s ease-out;
}

#weatherForm input:focus {
    outline: none;
    transform: scaleX(1.1);
}

#weatherForm input::placeholder {
    color: #000;
}

#weatherForm input:focus::placeholder {
    color: transparent;
}

#weatherForm input:hover {
    background-color: var(--bg-hover);
}

#weatherForm button {
    flex: 2;
    font-family: "Montserrat", sans-serif;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    background-color: var(--bg-object-color);
    color: #000;
    font-weight: 500;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#weatherForm button:hover {
    background-color: var(--bg-hover);
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.dashboard-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
}

.dashboard-top {
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
}

.dashboard-top .weather-resume {
    background-color: var(--bg-object-color);
    padding: 15px;
    border-radius: 10px;
    box-shadow: var(--shadow);
    flex: 4; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dashboard-top .weather-temp {
    font-size: 25px;
    font-weight: 600;
    color: var(--text-color);
}

.weather-description {
    font-size: 15px;
    font-weight: 500;
    color: var(--text-color);
}

.dashboard-top .weather-id {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard-top .weather-id img {
    width: 50px;
    height: 50px;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.1));
}

.dashboard-top .city-info {
    background-color: var(--bg-object-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--shadow);
    flex: 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.weather-time {
    font-size: 15px;
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: 10px;
}

.weather-location {
    font-size: 25px;
    font-weight: 600;
    color: var(--text-color);
}

.extra-info {
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
}

.feels-like, .humidity, .wind, .clouds, .wind-direction, .wind-speed{
    flex: 1;
    font-size: 15px;
    font-weight: 500;
    color: var(--text-color);
    background-color: var(--bg-object-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icon-h4-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.icon-h4-container i {
    font-size: 25px;
    color: var(--text-color);
    margin-right: 10px;
}

.extra-info h4 {
    font-size: 25px;
    font-weight: 600;
    color: var(--text-color);
    padding: 0;
    margin: 0;
}

.extra-info p {
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--terciary-color);
    margin: 0;
    text-align: left;
}

#forecasts {
    margin-top: 20px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color: var(--bg-object-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--shadow);
}

#forecasts div{
    flex: 1;
    font-size: 15px;
    font-weight: 500;
    color: var(--text-color);
    padding: 20px;
    border-radius: 10px;
}
/* media */

@media (max-width: 768px) {
    .sidebar-history {
        width: 120px; /* Cambia el ancho en dispositivos móviles */
    }

    .dashboard {
        margin-left: 100px;
    }

    .extra-info {
        flex-direction: column;
    }
}